{{! Adapted from CS 340 bsg_people example web application}}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Trophy Tracker</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        Navigation: 
        <a href="/">Home</a>
        <a href="/players">Players</a>
        <a href="/games">Games</a>
        <a href="/platforms">Platforms</a>
        <a href="/achievements">Achievements</a>
        <a href="/players_games">Players Games</a>
        <a href="/players_achievements">Players Achievements</a>
         <a href="/game_platforms">Game Platforms</a>
    </nav>

    {{{body}}}

</body>
</html>