{{! Adapted from CS 340 bsg_people example web application}}
<h1>Trophy Tracker</h1>
<div class="homepageDescription">
    <p>Track cross-platform video game achievements with Trophy Tracker.</p>
</div>