:root {
    background-color: #eeeeee;
    color: #444444;
    font-size: 16px;
}
h1, h2 { margin-left: 16px;}
table {border-collapse: collapse;margin-left: 32px;}
th, td {
    border: 1px solid #444444;
    padding: 12px;
    text-align: center;
}
th {
    background-color: #bccabb;
}
tr:nth-child(odd) {background-color: #dddddd;}
.cuForm { margin-left: 32px;}
input, select { margin-bottom: 4px;margin-right: 12px; border-radius:0;border:1px solid #444444;}
button {border:1px solid #444444;}
nav {background-color: #cccccc;padding: 16px;}
a {color:#444444;}
a:hover {background-color: #bccabb;}
.homepageDescription {margin-left: 32px;}
